/* app/globals.css */
@import "tailwindcss";

@theme {
  /* Adding our premium Amazon/Flipkart branding engine tokens here */
  --color-brand-primary: #febd69;    /* Amazon Amber */
  --color-brand-secondary: #232f3e;  /* Dark Slate Nav */
  --color-brand-blue: #131921;       /* Premium Deep Dark */
  --color-brand-accent: #2874f0;     /* Flipkart Blue */
}